body {
  font-family: Roboto, Arial, sans-serif;
  padding: 1vmax;
}

#content {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}

#logoheader {
  height: 50px;
  overflow: hidden;
}

.postbody {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 1.75em;
}

.postbody h2 {
  display: none;
}

#cse_container {
  min-height: 40px;
}

#allLabels {
  column-count: 4;
}