body {
  font-family: Roboto, Arial, sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}

#logoheader {
  padding: 10px;
}

#logoheader > div {
  height: 50px;
  overflow: hidden;
}

.postbody {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 1.75em;
}

.postbody h2 {
  display: none;
}

.postheadline > h2 {
  font-size: calc(14px + 1vw);
  font-weight: bold;
}

.postbody img {
  max-height: 50vh;
  max-width: 80vw;
}

#cse_container {
  min-height: 40px;
}

#allLabels {
  column-count: 4;
}